{% extends 'layouts/app.html' %}
{% load static %}
{% load i18n %}

{% block static %}
    <link rel="stylesheet" href="{% static 'css/basic_styles.css' %}">
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<section class="content">
    <div class="card">
        <h2 class="card-text">{% blocktrans with username=request.user.username %}You are logged, {{ username }}</h2>{% endblocktrans %}
    </div>
</section>
{% else %}
<div class="bento-principal">
    <div class="bento-grid">
        <div class="box large" style="background-image: url('ruta/imagen1.jpg');">
            <div class="text-bento">
                <h1>Sobre mí</h1>
                <p>Conoce quién soy</p>
            </div>
        </div>

        <div class="box medium" style="background-image: url('ruta/imagen2.jpg');">
            <div class="text-bento">
                <h1>Tecnologías</h1>
                <p>Herramientas que uso</p>
            </div>
        </div>

        <div class="box medium" style="background-image: url('ruta/imagen3.jpg');">
            <div class="text-bento">
                <h1>Proyectos</h1>
                <p>Algunos trabajos</p>
            </div>
        </div>

        <div class="box large" style="background-image: url('ruta/imagen4.jpg');">
            <div class="text-bento">
                <h1>Contáctame</h1>
                <p>Hablemos</p>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
