{% extends 'layouts/app.html' %}
{% load static %}
{% load i18n %}

{% block static %}
    <link rel="stylesheet" href="{% static 'css/basic_styles.css' %}">
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<section class="content">
    <div class="card">
        <h2 class="card-text">{% blocktrans with username=request.user.username %}You are logged, {{ username }}</h2>{% endblocktrans %}
    </div>
</section>
{% else %}
<div class="bento-principal">
    <div class="bento-grid">
        <a href="{% url 'about_me' %}" class="box large" #style="background-image: url('ruta/imagen1.jpg');">
            <div class="text-bento">
                <h1>Sobre mí</h1>
            </div>
        </a>

        <a href="{% url 'about_me' %}" class="box medium" #style="background-image: url('ruta/imagen1.jpg');">
            <div class="text-bento">
                <h1>Tecnologías</h1>
            </div>
        </a>

        <a href="{% url 'about_me' %}" class="box medium" #style="background-image: url('ruta/imagen1.jpg');">
            <div class="text-bento">
                <h1>Proyectos</h1>
            </div>
        </a>

        <a href="{% url 'about_me' %}" class="box large" #style="background-image: url('ruta/imagen1.jpg');">
            <div class="text-bento">
                <h1>Contáctame</h1>
            </div>
        </a>
    </div>
</div>
{% endif %}
{% endblock %}
