{% extends 'layouts/app.html' %}
{% load static %}
{% load components %}
{% load i18n %}

{% block static %}
    <link rel="stylesheet" href="{% static 'css/basic_styles.css' %}">
{% endblock %}

{% block content %}
{% if messages %}
  <div class="message-container">
    {% for message in messages %}
      <div class="message {{ message.tags }}">
        <span class="close-btn" onclick="closeMessage(this)">&times;</span>
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

{% card _("profile") %}
{% if request.user.is_authenticated %}
<div class="form-grid">
  <div class="form-group">
    <div class="user-info-label">{{ label_username }}:</div>
    <div class="user-info-value">{{ request.user.username }}</div>
  </div>

  <div class="form-group">
    <div class="user-info-label">{{ label_first_name }}:</div>
    <div class="user-info-value">{{ request.user.first_name }}</div>
  </div>

  <div class="form-group">
    <div class="user-info-label">{{ label_last_name }}:</div>
    <div class="user-info-value">{{ request.user.last_name }}</div>
  </div>

  <div class="form-group">
      <div class="user-info-label">{{ label_github }}:</div>
      <div class="user-info-value">{{ request.user.github }}</div>
  </div>

  <div class="form-group">
    <div class="user-info-label">{{ label_linkedin }}:</div>
    <div class="user-info-value">{{ request.user.linkedin }}</div>
  </div>

  <div class="form-group">
    <div class="user-info-label">{{ label_description }}:</div>
    <div class="user-info-value">{{ request.user.description }}</div>
  </div>

  <div class="form-button">
    {% if request.user.is_authenticated and request.user.id %}
    <a href="{% url 'profile_edit' request.user.id %}" class="sub-button">{% trans "Edit profile" %}</a>
    {% endif %}
  </div>  
</div>
{% else %}
<h2>{% trans "you aren't authenticated" %}</h2>
{% endif %}
{% endcard %}

{% card _("Change password") %}
  <p class="card-text">{% trans "You can update your password to keep your account secure." %}</p>
  <div class="form-button">
    <a href="{% url 'change-password' %}" class="sub-button">{% trans "Change password" %}</a>
  </div>
{% endcard %}

{% card _("Delete account") %}
  <p class="card-text">{% trans "This action will permanently delete your account. You won't be able to recover it afterwards." %}</p>
  <div class="form-button">
    {% if request.user.is_authenticated and request.user.id %}
      <a href="{% url 'profile_delete' request.user.id %}" class="sub-button">{% trans "Delete profile" %}</a>
    {% endif %}
  </div>
{% endcard %}
{% endblock %}

{% block script %}
<script src="{% static 'js/message.js' %}"></script>
{% endblock %}
