{% include 'app.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/project-main.css' %}">
{% endblock %}
{% block content %}
<div class="button-container">
    <button class="create-button"><a href="{% url 'projectCreate' %}">Create +</a></button>
</div>

<div class="table-container">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects  %}
            <tr>
                <td>{{ project.project_name }}</td>
                <td>{{ project.project_description }}</td>
                <td>                    
                {% if project.project_image_url %}
                    <img src="{{ project.project_image_url.url }}" alt="{{ project.project_name }}" width="100">
                {% else %}
                    No image
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}