{% extends 'layouts/app.html' %}
{% load static %}
{% load components %}
{% load i18n %}

{% block static %}
    <link rel="stylesheet" href="{% static 'css/basic_styles.css' %}">
{% endblock %}

{% block content %}
{% card "Login" %}
    {% if form.non_field_errors %}
    <div class="form-errors">
    {% for error in form.non_field_errors %}
    <p>{{ error }}</p>
    {% endfor %}
    </div>
    {% endif %}

    <form method="post" class="form-control">
        {% csrf_token %}

        <div class="form-grid">
            <div class="form-group">
                <div class="form-label">{{ form.username.label_tag }}</div>
                <div class="form-input">{{ form.username }}</div>
                {% if form.username.errors %}
                <div class="field-error">{{ form.username.errors.0 }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <div class="form-label">{{ form.password.label_tag }}</div>
                <div class="form-input">{{ form.password }}</div>
                {% if form.password.errors %}
                    <div class="field-error">{{ form.password.errors.0 }}</div>
                {% endif %}
            </div>
        </div>

        <div class="form-button">
            <button type="submit" class="sub-button">{% trans "Login" %}</button>
        </div>
    </form>
{% endcard %}
{% endblock %}
